@font-face {
    font-family: 'HelveticaNeue';
    src: url('../font/HelveticaNeueBold.woff2') format('woff2'),
        url('../font/HelveticaNeueBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../font/HelveticaNeueRegular.woff2') format('woff2'),
        url('../font/HelveticaNeueRegular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mark Pro';
    src: url('../font/MarkPro-Light.woff2') format('woff2'),
        url('../font/MarkPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fibra One';
    src: url('../font/FibraOne-Heavy.woff2') format('woff2'),
        url('../font/FibraOne-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mark Pro';
    src: url('../font/MarkPro-Bold.woff2') format('woff2'),
        url('../font/MarkPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}