/* MAIN HEADER */
#main-header .bg-image {
  width: 100%;
}
#main-header .layout-center-box {
  height: 81%;
  top: 42.5%;
  left: 50.3%;
  position: absolute;
  transform: translate(-50%, -50%);
}
#main-header {
  overflow: hidden;
  position: relative;
}
#main-header p {
  position: absolute;
  right: 0;
  left: 0;
  top: 78.4%;
  font-size: 25px;
}
#main-header .left-pack {
  height: 98%;
  position: absolute;
  left: -9.5%;
  top: -5%;
  transition: 1s transform ease 1s, 0.6s opacity ease-out 1.3s;
}
#main-header .right-pack {
  height: 88%;
  position: absolute;
  left: 30.5%;
  top: -2%;
  transition: 2s transform ease 1s, 2s opacity ease-in 1.3s;
}
#main-header .white-pack {
  height: 58.75%;
  position: absolute;
  left: 18.7%;
  top: 15.7%;
  transition: 2s transform ease 1s, 2s opacity ease-in 1.3s;
}
#main-header .left-pack {
  opacity: 1;
  transform: translate(0%, 0%);
}
#main-header.pack-transform .left-pack {
  opacity: 0;
  transform: translate(-30%, 0%);
}
#main-header .right-pack {
  opacity: 1;
  transform: translate(0%, 0%) scale(1, 1) skew(0deg, 0deg);
}
#main-header.pack-transform .right-pack {
  opacity: 0;
  transform: translate(-19%, 4.5%) scale(0.93, 0.8) skew(-5deg, -6deg);
}
#main-header .white-pack {
  opacity: 0;
  transform: translate(18.5%, -6.5%) scale(1.075, 1.25) skew(5deg, 5deg);
}
#main-header.pack-transform .white-pack {
  opacity: 1;
  transform: translate(0%, 0%) scale(1, 1) skew(0deg, 0deg);
}
/* Mobile and Tablet size */
@media screen and (max-width: 1179px) {
  #main-header p {
    font-size: 20px;
  }
  #main-header .layout-center-box {
    height: 74%;
    top: 35%;
  }
}
/* Mobile Size */
@media screen and (max-width: 768px) {
  #main-header p {
    font-size: 12px;
  }
  #main-header .bg-image {
    width: 130%;
    margin-left: -15%;
  }
}

#lays-white-alone {
  position: relative;
}
#lays-white-alone .layout {
  width: 100vw;
  top: -4vw;
}
#lays-white-alone .lays-white {
  height: 61%;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  #lays-white-alone {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  #progetto .lays-yellow img,
  #progetto .replay img {
    padding-left: 0;
  padding-right: 16px;}
}

.manifesto {
  background-image: url(../img/manifesto.svg);
  /* height: 151vh; */
  height: 0;
  padding-bottom: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  max-width: 100%;
}

.manifesto .lays-white {
  padding-top: 5vw;
  max-width: 200px;
}
.manifesto .desc {
  padding: 0 15vh;
}
.manifesto .desc p {
  font-size: 17px;
  line-height: 22px;
}
.manifesto h1 {
  margin: 5vw 0 6vw 0;
}
.manifesto p.y-text {
  font-size: 23px;
  line-height: 28px;
}
@media screen and (max-width: 1359px) {
  .desc {
    font-size: 17px;
  }
  /* .manifesto {
    height: 117vh;
  } */
  .manifesto .desc {
    padding: 0;
  }
  .manifesto .lays-white {
    padding-top: 5vw;
    max-width: 121px;
  }
  .manifesto p.y-text {
    font-size: 20px;
    line-height: 25px;
  }
  .manifesto h1 {
    font-size: 66px;
    margin: 3vw 0 5vw 0;
  }
}
@media screen and (max-width: 767px) {
  #manifesto.container {
    padding: 0;
  }
  .manifesto h1 {
    font-size: 35px;
    margin: 20px 0 20px 0;
  }
  .manifesto{
    height: auto;
    padding-bottom: 14vh;
    background-size: auto 100%;
    background-position: center;
  }

  .manifesto .desc{
    padding: 0 5%;
    text-align: left;
  }
}
@media screen and (min-width: 1360px) {
  .manifesto {
    width: 1118px;
    height: 1118px;
    margin: auto;
    padding-bottom: 0;
  }

  .manifesto h1{
    margin: 70px 0 90px 0;
  }
}

.inauguration {
  text-align: center;
}
.inauguration p {
  color: #fff;
  font-size: 18px;
}
.inauguration p:nth-child(1) {
  margin-bottom: 13px;
}

.inauguration p.date {
  font-size: 29px;
  margin-top: 0;
}

#countDown {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

#countDown div > div {
  font-size: 41px;
  color: #363636;
  background-color: #fff;
  border-radius: 22px;
  margin: 0 16px;
  width: 55px;
  height: 55px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#countDown p {
  text-align: center;
  text-transform: uppercase;
  font-family: "HelveticaNeue";
  font-weight: bold;
  font-size: 13px;
}

.note {
  text-align: center;
  font-family: "HelveticaNeue";
  font-size: 14px;
}

#map {
  width: 100%;
  height: 50vh;
}

footer {
  font-family: "HelveticaNeue";
  background-color: #ffe300;
  color: #363636;
  position: absolute;
  left: 0;
  right: 0;
  padding-bottom: 10px;
}

footer p {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  margin-top: 0;
}
footer p.address {
  font-size: 13px;
}

footer .content {
  text-align: center;
}

footer img {
  width: 100px;
  margin-top: -40px;
}