html {
  position: relative;
  /* overflow-x: hidden; */
}
body {
  color: #fff;
  font-family: "Mark Pro";
  font-weight: bold;
  margin: 0;
  background-color: #000;
  position: relative;
  overflow-x: hidden;
}

.bg-opacity {
  background-image: url(../img/grass.jpg);
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#navbar {
  background-color: transparent;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 20px;
  z-index: 999;
  -webkit-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* Navbar links */
#navbar a.link {
  float: right;
  display: block;
  text-align: center;
  padding: 13px 37px;
  text-decoration: none;
  font-family: "HelveticaNeue";
  background-color: #009e53;
  font-size: 15px;
  font-weight: bold;
  border-radius: 43px;
  margin-left: 15px;
  color: #fff;
}

#navbar img {
  height: 11vh;
  position: absolute;
  top: 11%;
  -webkit-transition: height 0.5s linear;
  -ms-transition: height 0.5s linear;
  transition: height 0.5s linear;
  max-height: 90%;
}

#navbar.sticky {
  position: fixed;
  top: 0;
  background-color: #ffe300;
  padding: 15px;
}

#navbar.sticky a.link {
  padding: 10px 37px;
}

#navbar.sticky img {
  height: 8vh;
  top: 6%;
}

h1 {
  font-family: "Mark Pro";
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  text-shadow: 1px 2px 16px #00000085;
}

.container {
  max-width: 1920px;
  padding: 0 15%;
  line-height: 1.1em;
  overflow: hidden;
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 500px) {
  .container {
    max-width: 100%;
    width: 100%;
    padding: 0;
  }
}

.d-table {
  display: table;
  height: 100%;
  width: 100%;
}
.d-table-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.dl-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fl-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  align-self: center;
}

.align-left {
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  align-self: left;
}

.j-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.left-text {
  text-align: left;
}
.center-text {
  text-align: center;
}

.y-text {
  color: #ffe300;
}
.uppercase {
  text-transform: uppercase;
}

.bg-circle {
  background-image: url(../img/circle-home.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  position: relative;
  z-index: -1;
  overflow: hidden;
}
.bg-circle p {
  position: absolute;
  right: 0;
  left: 0;
  top: 80vh;
  font-size: 20px;
}
.bg-circle .left-pack {
  height: 100vh;
  position: absolute;
  left: calc(50% - 61vh);
  top: -5vh;
  transition: 1s transform ease 1s, 0.6s opacity ease-out 1.3s;
}
.bg-circle .right-pack {
  height: 90vh;
  position: absolute;
  left: calc(50% - 20vh);
  top: -2vh;
  transition: 2s transform ease 1s, 2s opacity ease-in 1.3s;
}
.bg-circle .white-pack {
  height: 60vh;
  position: absolute;
  left: calc(50% - 32vh);
  top: 16vh;
  transition: 2s transform ease 1s, 2s opacity ease-in 1.3s;
}

.bg-circle .left-pack {
  opacity: 1;
  transform: translate(0vh, 0vh);
}
.bg-circle.pack-transform .left-pack {
  opacity: 0;
  transform: translate(-30vh, 0vh);
}
.bg-circle .right-pack {
  opacity: 1;
  transform: translate(0vh, 0vh) scale(1, 1) skew(0deg, 0deg);
}
.bg-circle.pack-transform .right-pack {
  opacity: 0;
  transform: translate(-14vh, 4vh) scale(0.95, 0.8) skew(-5deg, -6deg);
}
.bg-circle .white-pack {
  opacity: 0;
  transform: translate(14vh, -4vh) scale(1.1, 1.25) skew(5deg, 6deg);
}
.bg-circle.pack-transform .white-pack {
  opacity: 1;
  transform: translate(0vh, 0vh) scale(1, 1) skew(0deg, 0deg);
}

.bg-circle .empty-div {
  height: 64vw;
  position: relative;
  width: 10vw;
}

@media screen and (min-width: 1281px) {
  .bg-circle .right-pack {
    height: 90vh;
    position: absolute;
    right: 38vh;
    top: -6vh;
  }
  .bg-circle .left-pack {
    height: 100vh;
    position: absolute;
    left: 26vh;
    top: -6vh;
  }

  .bg-circle p {
    font-size: 25px;
  }
}

.bg-circle .lays-white {
  display: block;
  width: 34vh;
  position: absolute;
  bottom: -8vw;
  text-align: center;
  margin: 0 auto;
  left: calc(50% - 17vh);
}

#navbar .lays-white {
  margin-top: 0;
}

h1 {
  font-size: 100px;
  margin: 15vw 0 9vw 0;
}

@media screen and (min-width: 1281px) {
  h1 {
    font-size: 119px;
    margin: 13vw 0 6vw 0;
  }
  .bg-circle .lays-white {
    width: 19vh;
    bottom: -6vw;
    left: calc(50% - 9.5vh);
  }
}

.desc {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 23px;
}
.lays-yellow img {
  height: 9vw;
  padding-right: 8vh;
  max-width: 190px;
  padding-left: 6vw;
}
.replay img {
  height: 5vw;
  padding-left: 14vh;
  padding-right: 8vh;
  max-width: 198px;
}

@media screen and (min-width: 1281px) {
  .lays-yellow img {
    height: 15vh;
    padding-right: 4vw;
    padding-left: 13vw;
    max-width: 190px;
  }
  .replay img {
    height: 9vh;
    padding-left: 14vw;
    padding-right: 3.4vw;
    max-width: 198px;
  }
}

.mt-10 {
  margin-top: 10vh;
}

.three-blocks .block {
  flex: 1;
  margin: 15vh 0;
  /* padding: 0px 6vh; */
}
/* .three-blocks .block:nth-child(2) {
  min-width: 45vh;
} */
.three-blocks .block p {
  color: #ffe300;
  text-shadow: 2px 2px 4px #00000085;
  font-size: 22px;
}
.three-blocks .block span {
  text-shadow: 2px 2px 4px #00000085;
  letter-spacing: 1px;
  line-height: 20px;
}
.three-blocks .block img {
  height: 18vh;
  max-width: 160px;
}
.manifesto {
  background-image: url(../img/manifesto.svg);
  /* height: 151vh; */
  height: 0;
  padding-bottom: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  max-width: 100%;
}

.manifesto .lays-white {
  padding-top: 5vw;
  max-width: 200px;
}
.manifesto .desc {
  padding: 0 15vh;
}
.manifesto .desc p {
  font-size: 17px;
  line-height: 22px;
}
.manifesto h1 {
  margin: 5vw 0 6vw 0;
}
.manifesto p.y-text {
  font-size: 23px;
  line-height: 28px;
}

.field {
  color: #363636;
  margin-top: 15vh;
  margin: 10vh auto;
  max-width: 99vh;
}
.field p {
  font-size: 14px;
  text-align: left;
}
.field p.title {
  font-size: 22px;
}
.field .bg-yellow {
  background-color: #ffe300;
  border-radius: 29px;
  box-shadow: 2px 2px 4px #00000085;
  width: 50%;
}
.field .bg-yellow div {
  padding: 8vh;
}
.field .bg-field {
  background-image: url(../img/field.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 29px;
}

.wrapper-center {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.wrapper-field {
  margin: 15vh auto 10vh auto;
  width: 114vh;
  background-image: url(../img/field.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  border-radius: 29px;
}

.wrapper-field p.title,
.wrapper-program p.title {
  font-size: 25px;
}
.bl-field {
  background-color: #ffe300;
  border-radius: 29px;
  box-shadow: 2px 2px 4px #00000085;
  color: #363636;
  padding: 44px 30px;
  /* width: 50vh; */
  width: 40%;
}

.wrapper-program {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 114vh;
  border-radius: 29px;
  margin: 10vh auto;
  background-image: url(../img/program.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.get-involved {
  position: relative;
  text-align: center;
}
.get-involved h2 {
  text-transform: uppercase;
  font-size: 86px;
  margin-bottom: 0;
  line-height: 101px;
}
.get-involved h2 span {
  font-size: 142px;
}

.get-involved p {
  color: #ffe300;
  font-size: 31px;
  line-height: 38px;
  margin-top: 10px;
}

.get-involved .left-pack {
  position: absolute;
  left: -70vh;
  bottom: -48vh;
  height: 119vh;
}

.get-involved .right-pack {
  bottom: -38vh;
  position: absolute;
  right: -64vh;
  transform: rotate(12deg);
  height: 108vh;
}

.inauguration {
  text-align: center;
}
.inauguration p {
  color: #fff;
  font-size: 18px;
}
.inauguration p:nth-child(1) {
  margin-bottom: 13px;
}

.inauguration p.date {
  font-size: 29px;
  margin-top: 0;
}

#countDown {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

#countDown div > div {
  font-size: 41px;
  color: #363636;
  background-color: #fff;
  border-radius: 22px;
  margin: 0 16px;
  width: 55px;
  height: 55px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#countDown p {
  text-align: center;
  text-transform: uppercase;
  font-family: "HelveticaNeue";
  font-weight: bold;
  font-size: 13px;
}

.note {
  text-align: center;
  font-family: "HelveticaNeue";
  font-size: 14px;
}

#map {
  width: 100%;
  height: 50vh;
}

footer {
  font-family: "HelveticaNeue";
  background-color: #ffe300;
  color: #363636;
  position: absolute;
  left: 0;
  right: 0;
  padding-bottom: 10px;
}

footer p {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  margin-top: 0;
}
footer p.address {
  font-size: 13px;
}

footer .content {
  text-align: center;
}

footer img {
  width: 100px;
  margin-top: -40px;
}

@media screen and (min-width: 1281px) {
  .three-blocks {
    width: 72%;
    margin: 0 auto;
  }
  .three-blocks .block {
    margin: 12vh 0;
  }
  .three-blocks .block img {
    height: 10vh;
  }
  .manifesto h1 {
    font-size: 124px;
  }
  .manifesto {
    /* height: 100vh; */
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    max-width: 100%;
    margin-top: 4vh;
  }
  .manifesto .desc p {
    font-size: 19px;
    line-height: 23px;
  }
  .manifesto p.y-text {
    font-size: 25px;
    line-height: 29px;
  }
  .manifesto .desc {
    padding: 0px 21vh;
  }
  .wrapper-field,
  .wrapper-program {
    width: 65vh;
    margin: 5vh auto;
  }
  .wrapper-field {
    margin-top: 10vh auto;
  }
  .wrapper-field p.title,
  .wrapper-program p.title {
    font-size: 27px;
  }

  .get-involved {
    margin-top: 16vh;
  }
  .get-involved .left-pack {
    position: absolute;
    left: -65vh;
    bottom: -34vh;
  }

  .get-involved .right-pack {
    bottom: -34vh;
    position: absolute;
    right: -61vh;
    transform: rotate(12deg);
  }

  .bl-field {
    width: 28vh;
  }
}

@media screen and (max-width: 1170px) {
  .lays-yellow img,
  .replay img {
    padding-left: 0;
  }
}
@media screen and (max-width: 1135px) {
  .manifesto h1 {
    font-size: 85px;
  }
  .get-involved h2 span {
    font-size: 118px;
  }
  .get-involved h2 {
    font-size: 70px;
  }
  .get-involved p {
    font-size: 26px;
    line-height: 32px;
  }
}

@media screen and (max-width: 1110px) {
  .bg-circle .white-pack {
    height: 46vh;
    position: absolute;
    left: calc(50% - 23vh);
    top: 20vh;
  }
  .bg-circle p {
    font-size: 18px;
    top: 66vh;
  }
  .bg-circle .left-pack {
    height: 86vh;
  }
  .bg-circle .right-pack {
    height: 76vh;
  }
}
@media screen and (max-width: 1110px) {
}
@media screen and (max-width: 989px) {
  .bg-circle .white-pack {
    height: 37vh;
  }
  .bg-circle p {
    font-size: 17px;
    top: 58vh;
  }
  h1 {
    font-size: 81px;
  }
  .desc {
    font-size: 17px;
  }
  /* .manifesto {
    height: 117vh;
  } */
  .manifesto .desc {
    padding: 0;
  }
  .manifesto .lays-white {
    padding-top: 5vw;
    max-width: 121px;
  }
  .manifesto p.y-text {
    font-size: 20px;
    line-height: 25px;
  }
  .manifesto h1 {
    font-size: 66px;
    margin: 3vw 0 5vw 0;
  }

  .wrapper-field {
    margin: 15vh auto 2vh auto;
  }
  .get-involved h2 {
    font-size: 62px;
    line-height: 78px;
  }
  .get-involved h2 span {
    font-size: 101px;
  }
  .get-involved p {
    font-size: 22px;
    line-height: 32px;
  }
  .inauguration p.date {
    font-size: 25px;
    margin-top: 0;
  }
  .get-involved .right-pack {
    height: 97vh;
  }
  .get-involved .left-pack {
    height: 108vh;
  }
}

@media screen and (max-width: 868px) {
  .bg-circle .white-pack {
    height: 32vh;
    left: calc(50% - 16vh);
  }
  .bg-circle p {
    font-size: 15px;
    top: 55vh;
  }
  .bg-circle .lays-white {
    width: 120px;
    bottom: -10vw;
    left: calc(50% - 9vh);
  }
  h1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 769px) {
  #navbar {
    display: none;
  }
  #menu-mobile {
    display: block;
  }
  .bg-circle .white-pack {
    height: 20vh;
    left: calc(50% - 12vh);
    top: 17vh;
  }
  .bg-circle .lays-white {
    width: 19vh;
    bottom: -10vw;
    left: calc(50% - 9.5vh);
  }
  .bg-circle p {
    font-size: 16px;
    top: 39vh;
  }
  .three-blocks .block {
    margin: 6vh 0;
  }
  /* .manifesto {
    height: 54vh;
  } */
  .three-blocks .block {
    margin: 7vh 0;
  }
  .wrapper-field {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .wrapper-program {
    width: 100%;
  }
  .project-wrapper .dl-flex {
    align-items: flex-start;
    flex-direction: column;
  }
  .lays-yellow img {
    height: 13vw;
    margin-bottom: 10px;
  }
  .replay img {
    height: 8vw;
    margin-bottom: 20px;
  }
  .three-blocks .dl-flex {
    display: block;
  }

  .three-blocks {
    margin: 60px 0;
  }
  .bl-field {
    padding:13px 26px;
    width: 56%;
  }
  /* .manifesto {
    height: 192vw;
  } */
  .manifesto .desc p {
    font-size: 14px;
    line-height: 15px;
  }
  .manifesto .lays-white {
    padding-top: 15px;
    max-width: 100px;
  }
  .manifesto h1 {
    font-size: 53px;
    margin: 4vw 0 6vw 0;
  }
  .get-involved h2 {
    font-size: 46px;
    line-height: 68px;
  }
  .get-involved h2 span {
    font-size: 83px;
  }
  .get-involved p {
    font-size: 20px;
    line-height: 27px;
  }
  .inauguration p.date {
    font-size: 22px;
    margin-top: 0;
  }

  #countDown div > div{
    font-size: 29px;
    border-radius: 15px;
    margin: 0 8px;
    width: 43px;
    height: 44px;
    padding: 5px;
  }
  footer{
    padding: 0 5% 5% 5%;
  }
}
@media screen and (max-width: 500px) {
  .bg-circle{
      background-size: auto 100%;
      height: 84vh;
      background-position: center;
  }
  .bg-circle .white-pack {
    height: 26vh;
    left: calc(50% - 13vh);
    top: 17vh;
}
  /* .bg-circle .white-pack {
    height: 10vh;
    left: calc(50% - 5vh);
    top: 4vh;
  } */
  .bg-circle .empty-div {
    height: 72vw;
  }
  .bg-circle .lays-white {
    display: none;
  }
  .bg-circle p{
    font-size: 14px;
    top: 46vh;
  }

  /* .bg-circle p {
    font-size: 10px;
    top: 14vh;
  } */
  h1 {
    font-size: 35px;
    margin: 9vw 0;
  }
  .project-wrapper{
    padding-left: 5%;
    width: 90%;
  }
  .lays-yellow img {
    height: 16vw;
  }
  .replay img {
    height: 10vw;
  }
  .three-blocks{
    margin:20px 0;
  }
  .three-blocks .block p{
    margin: 8px 0;
  }
  .three-blocks .block img {
    height: 15vh;
  }
  .manifesto h1 {
    font-size: 35px;
    margin: 20px 0 20px 0;
  }
  .manifesto{
    height: auto;
    padding-bottom: 14vh;
    background-size: auto 100%;
    background-position: center;
  }

  .manifesto .desc{
    padding: 0 5%;
    text-align: left;
  }

  .wrapper-center{
    padding: 0 5%;
  }
  .wrapper-field {
    width: 100%;
    flex-direction: row;
    background-size: auto 97%;
    background-position: 45%;
    margin: 7vh auto 0vh auto;
  }
  .bl-field{
    width: 100%;
  }
  .get-involved h2 {
    font-size: 30px;
    line-height: 47px;
  }
  .get-involved h2 span {
    font-size: 48px;
    line-height: 41px;
  }
  .get-involved p {
    font-size: 15px;
    line-height: 20px;
  }
  .inauguration p.date {
    font-size: 19px;
    margin-top: 0;
  }
  .get-involved .left-pack,
  .get-involved .right-pack{
    display: none;
  }
  #countDown{
    margin-bottom: 0;
  }
  .inauguration p:nth-child(1){
    margin-bottom: 7px;
  }
  .inauguration p.date {
    font-size: 16px;
    margin-top: 0;
  }
}
/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .bg-circle {
      background-size: 100%;
      height: auto;
      background-position: top;
  }
  .bg-circle p {
    font-size: 12px;
    top: 46vh;
}
}

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
    .bg-circle p {
      font-size: 16px;
      top: 58vh;
  }
  .bg-circle .white-pack {
    height: 34vh;
    left: calc(50% - 17vh);
    top: 23vh;
}
}
